{
  /** arrow-parens <avoid|always>      Include parentheses around a sole arrow function parameter. Defaults to avoid. */
  // "arrowParens": "avoid",

  /** bracket-spacing        Print spaces between brackets. Default: true */
  // "bracketSpacing": true,

  /** end-of-line <auto|lf|crlf|cr>    Which end of line characters to apply. Defaults to auto.
      https: //prettier.io/docs/en/options.html#end-of-line */
  // "endOfLine": "auto",

  /** html-whitespace-sensitivity <css|strict|ignore> How to handle whitespaces in HTML. Defaults to css. */
  // "htmlWhitespaceSensitivity": "css",

  /** jsx-bracket-same-line  Put > on the last line instead of at a new line. Defaults to false. */
  // "jsxBracketSameLine": false,

  /** jsx-single-quote       Use single quotes in JSX. Defaults to false. */
  // "jsxSingleQuote": false,

  /** print-width <int>      The line length where Prettier will try wrap. Defaults to 80. */
  "printWidth": 120,

  /** prose-wrap <always|never|preserve> How to wrap prose. Defaults to preserve. */
  // "proseWrap": "preserve",

  /** semi                   Print semicolons at end of lines. Defaults to true. */
  // "semi": true,

  /** single-quote           Use single quotes instead of double quotes. Defaults to false. */
  "singleQuote": true,

  /** tab-width <int>        Number of spaces per indentation level. Defaults to 2. */
  // "tabWidth": 2,

  /** trailing-comma <none|es5|all>    Print trailing commas wherever possible when multi-line. Defaults to none. */
  "trailingComma": "all"

  /** use-tabs               Indent with tabs instead of spaces. Defaults to false. */
  // "useTabs": false
}
